﻿@model Orms.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User @Model.Name</h4>
    <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            @Html.HiddenFor(model => model.Name)
        </dd>

        <dt>
            Password
        </dt>

        <dd>
            @Html.PasswordFor(model => model.Password)
        </dd>


        <dt>
            Email
        </dt>

        <dd>
            @Html.EditorFor(model => model.Email)
        </dd>


        <dt>
            CreateDateTime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>

        <dt>
            LastActivityDateTime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActivityDateTime)
        </dd>

        <dt>
            Contractor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
            @Html.HiddenFor(model => model.Contractor.Id)
            @Html.HiddenFor(model => model.Contractor.Name)
        </dd>

        <dt>
            IsActive
        </dt>

        <dd>
            @Html.EditorFor(model => model.IsActive)
        </dd>

        @Html.HiddenFor(model => model.Id)
    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
        </div>
    </div>
}
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>