﻿@model IEnumerable<Orms.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Users lists</h2>

<p>
    @Html.ActionLink("Create new User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            E-mail
        </th>
        <th>
            Create date time
        </th>
        <th>
            Last activity date time
        </th>
        <th>
            Is Active
        </th>
        <th>
            Contractor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActivityDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>