﻿@model Orms.Models.CalorificValue

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>Calorific value for @Model.GasStorage.Name for @Model.GasDay</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.Label("GasDay", "", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Editor("gasDay", new {htmlAttributes = new {@class = "form-control", @Value = Model.GasDay.ToString()}})
                @Html.ValidationMessage("gasDay", "", new {@class = "text-danger"})
            </div>
        </div>

        @Html.Hidden("gasStorageId", @Model.GasStorage.Id.ToString())

        <div class="form-group">
            <input type="submit" value="Change" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
        </div>
    }

    @using (Html.BeginForm("Create", "CalorificValues", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <th>
                    Hour index
                </th>
                <th>
                    Value
                </th>
                <th>
                    Unit
                </th>
            </tr>

            @foreach (var value in @Model.Values)
            {
                <tr>
                    <td>
                        @value.HourIndex
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => value.Energy.Value, "", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => value.Energy.Value, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => value.Energy.Value, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => value.Energy.Unit, "", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DisplayFor(model => value.Energy.Unit, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => value.Energy.Unit, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>

        @Html.Hidden("gasStorageId", @Model.GasStorage.Id.ToString())
        @Html.Hidden("gasDay", @Model.GasDay)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    }


</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
