﻿@model System.Collections.Generic.IEnumerable<Orms.Models.GasAccount>

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<div>
    <h4>GasAccount values for @Model.First().GasStorage.Name for @Model.First().GasDay</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("GasDay", "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.Editor("gasDay", new { htmlAttributes = new { @class = "form-control", @Value = Model.First().GasDay.ToString() } })
                @Html.ValidationMessage("gasDay", "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("id", @Model.First().GasStorage)

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-default" />
            <input type="reset" value="Reset" class="btn btn-default" />
            <button type="button" class="btn btn-default" id="calculate">Calculate</button>
        </div>
    }

    <table class="table">
        <tr>
            <th>
                Hour index
            </th>
            <th>
                Energy Value
            </th>
            <th>
                Energy Unit
            </th>
            <th>
                Volume Value
            </th>
            <th>
                Volume Unit
            </th>
        </tr>

        @foreach (var value in @Model)
        {
            <tr>
                <td>
                    @value.HourIndex
                </td>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => value.Energy.Value, "", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => value.Energy.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => value.Energy.Value, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => value.Energy.Unit, "", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => value.Energy.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => value.Energy.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => value.Volume.Value, "", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => value.Volume.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => value.Volume.Value, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => value.Volume.Unit, "", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => value.Volume.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => value.Volume.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>


</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
    var urlToGet = @Html.Raw(Json.Encode(Url.Action("Calculate", "GasAccounts")));
    @{ var gasDay = @Model.First().GasDay;}

    $("#calculate").click(function () {
        calculate(@Model.First().GasStorage.Id, false, new Date(@gasDay.Year, @(gasDay.Month - 1), @gasDay.Day, @gasDay.Hour, @gasDay.Minute, @gasDay.Second));
    });

    function calculate(id, all, dateTime) {
        var data = {
            id: id,
            all: all,
            gasDayString: (dateTime.getDate() + "/" + (dateTime.getMonth() + 1) + "/" + dateTime.getFullYear() + " " + dateTime.getHours() + ':' + dateTime.getMinutes() + ':' + dateTime.getSeconds())
        };

        $.ajax({
            url: urlToGet,
            type: 'GET',
            data: data,
            success: function () {
                window.location.reload(true);
            }
        });
    }
</script>