﻿@model Orms.WebApp.Models.GasAccountsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>GasStorage lists</h2>

@using (Html.BeginForm("Calculate", "GasAccounts"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("GasDay", "", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-8">
            @Html.Editor("gasDayString", new { htmlAttributes = new { @class = "form-control", @Value = Model.GasDay.ToString() } })
            @Html.ValidationMessage("gasDay", "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.Hidden("id", 0)
    @Html.Hidden("all", true)

    <div class="form-group">
        <input type="submit" value="Calculate all for GasDay" class="btn btn-default" />
        <input type="reset" value="Reset" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.GasStorages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>