﻿@using Orms.Models.Extensions
@model Orms.WebApp.Models.GasStorageDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gas storage @Model.GasStorage.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasStorage.Name)
        </dd>

    </dl>

    <h4>Add new access point</h4>
    @using (Html.BeginForm("CreateAccessPoint", "GasStorages", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccessPoint.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NewAccessPoint.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewAccessPoint.Code, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.GasStorageId, new { @class = "form-control", @Value = @Model.GasStorage.Id })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <input type="reset" value="Reset" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <h4>Add new access point flow</h4>
    @using (Html.BeginForm("CreateAccessPointFlow", "GasStorages", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.NewAccessPointFlow.Direction, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.NewAccessPointFlow.Direction, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewAccessPointFlow.Direction, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SelectedAccessPointId, "AccessPoint", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SelectedAccessPointId", Model.GasStorage.AccessPoints.Select(ap => new SelectListItem() { Value = ap.Id.ToString(), Text = ap.Code }), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedAccessPointId, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.GasStorageId, new { @class = "form-control", @Value = @Model.GasStorage.Id })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <input type="reset" value="Reset" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <h4>AccessPoint lists</h4>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.GasStorage.AccessPoints)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td></td>
            </tr>
            foreach (var apf in item.AccessPointFlows)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => apf.Direction)
                    </td>
                </tr>
            }
        }
    </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>