﻿@model IEnumerable<Orms.Models.GasStorage>

@{
    ViewBag.Title = "Index";
}

<h2>GasStorage lists</h2>

<p>
    @Html.ActionLink("Create new Gas storage", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>