﻿@using Orms.Models.Extensions
@model Orms.Models.Agreement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agreement number @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Contractor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>

        <dt>
            Gas storage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasStorage.Name)
        </dd>


        <dt>
            Start end
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>


        <dt>
            End date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Create date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>