﻿@using Orms.Models.Extensions
@model IEnumerable<Orms.Models.Agreement>

@{
    ViewBag.Title = "Index";
}

<h2>Agreement lists</h2>

<p>
    @Html.ActionLink("Create new Agreement", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Contractor
        </th>
        <th>
            Gas storage
        </th>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Create date
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasStorage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
    }

</table>