﻿@model Orms.WebApp.Models.NominationCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add new Nomination</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Nomination.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomination.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nomination.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomination.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Nomination.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nomination.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomination.GasDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomination.GasDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nomination.GasDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomination.AccessPointFlow.AccessPoint.GasStorage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedGasStorageId", Model.GasStorages, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedGasStorageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contractors, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedContractorId", Model.Contractors, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedContractorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DirectionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.DirectionType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DirectionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    Hour index
                </th>
                <th>
                    Energy Volume
                </th>
                <th>
                    Energy Unit
                </th>
                <th>
                    Volume Value
                </th>
                <th>
                    Volume Unit
                </th>
            </tr>
            @{
                var cvIndex = 0;
            }

            @foreach (var value in @Model.Nomination.Values)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => value.HourIndex)
                        @Html.HiddenFor(model => value.HourIndex)
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => value.Energy.Value, "", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => value.Energy.Value, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => value.Energy.Value, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => value.Energy.Unit, "", htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DisplayFor(model => value.Energy.Unit, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => value.Energy.Unit, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => value.Volume.Value, "", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => value.Volume.Value, new { htmlAttributes = new { @class = "form-control", data_cvindex = cvIndex } })
                                @Html.Hidden("CVval-" + cvIndex, new { htmlAttributes = new { @class = "form-control", @Value = "0", data_cvindex = cvIndex } })
                                @Html.ValidationMessageFor(model => value.Volume.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => value.Volume.Unit, "", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => value.Volume.Unit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => value.Volume.Unit, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                {
                    cvIndex++;
                }
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script>
    var urlToGet = @Html.Raw(Json.Encode(Url.Action("Get", "Nominations")));

    $( document ).ready(function() {
        getCv($("#Nomination_GasDay").val(), $("#SelectedGasStorageId").val());
    });

    $("#SelectedGasStorageId").change(function () {
        getCv($("#Nomination_GasDay").val(), $("#SelectedGasStorageId").val());
    });

    $("#value_Volume_Value").change(function () {
        var index = this.dataset.cvindex;
        var cv = $("#CVval-" + index);
        var input = $('*[data-cvindex=' + index + ']')[0];
        var value = Number(this.value.replace(",", ".")) / Number(cv.val());

        input.value = value.toString();
    });

    function getCv(gasDay, gasStorageId) {
        var data = {
            gasStorageId: gasStorageId,
            gasDay: gasDay
        };

        var cv;

        $.ajax({
            url: urlToGet,
            type: 'GET',
            data: data,
            success: function (result) {
                cv = result;

                for (var i = 0; i < cv.length; i++) {
                    $("#CVval-" + i).val(cv[i].Value.Value);
                }
            }
        });
    }
</script>