﻿@using Orms.Models
@model Orms.WebApp.Models.NominationListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Nomination lists</h2>

<p>
    @Html.ActionLink("Create new Nomination", "Create")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.Label("GasDay", "", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.Editor("gasDay", new {htmlAttributes = new {@class = "form-control", @Value = Model.GasDay.ToString() }})
            @Html.ValidationMessage("gasDay", "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Change" class="btn btn-default" />
        <input type="reset" value="Reset" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            GasStorage
        </th>
        <th>
            GasDay
        </th>
        <th>
            Contractor
        </th>
        <th>
            User
        </th>
        <th>
            Channel
        </th>
        <th>
            CreateDateTime
        </th>
        <th>
            Version
        </th>
        <th>
            IsLastOrder
        </th>
        <th>
            IsAccepted
        </th>
        <th>
            Direction
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Nominations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessPointFlow.AccessPoint.GasStorage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GasDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contractor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessPointFlow.Direction)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
            <td>
                @if (!item.IsAccepted)
                {
                    @Html.ActionLink("Accepted", "Accepted", new {id = item.Id})
                }
            </td>
        </tr>
    }

</table>