﻿@model Orms.WebApp.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Forgot password details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            New Password
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
