﻿@using Orms.Domains.Enums
@using Orms.Models.Extensions
@model IEnumerable<Orms.Models.Contractor>

@{
    ViewBag.Title = "Index";
}

<h2>Contractor lists</h2>

<p>
    @Html.ActionLink("Create new Contractor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
        <th>
            Adress
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id })
            </td>
        </tr>
    }

</table>